/* Reset default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    background-color: #1d1d1d;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #222;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6d00;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #ff6d00;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li::before {
    content: "\2022";
    color: #ff6d00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 14px;
}

/* Additional Styling */
#about {
    background-color: #444;
    padding: 20px;
}

#about p {
    color: #ccc;
}

#game-modes ul li{
    color: #ff6d00;
}

#game-modes ul li:before{
    color: #ff6d00;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }

    header {
        padding: 15px;
    }
}